rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Read is open, write requires a shared key field.
    match /cloth/main {
      allow read: if true;
      allow write: if request.resource.data.writeKey == "cloth-write-2026";
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
